<p-panel [showHeader]="false" class="p-1">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="uppercase">
            {{ name | uppercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="lowercase">
            {{ lastname | lowercase }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="titlecase">
            {{ fullname | titlecase }}
        </p-card>
    </div>
</div>