<p-panel [showHeader]="false" class="p-1">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="Tolal ventas" subheader="Junio">
            {{ totalSales | number:'1.2-2' }}
        </p-card>
    </div>


    <div class="col-12 md:col-4">
        <p-card header="Tolal ventas" subheader="Julio">
            {{ (totalSales + 800) | currency:'USD':'symbol':'1.4-4' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Porcentaje ganancias" subheader="Total">
            {{ percentage | percent:'1.2-2' }}
        </p-card>
    </div>
</div>